/* App.css */
.App {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 200%;
  background-color: #2f3b52;
  color: white;
  padding-top: 20px;
  position: fixed;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #1d2638;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}